<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Users</title>
</head>
<body>
<h1>All Users' Information</h1>
<br>
<div>
    <table border="2">
        <tr>
            <th style="background-color: lightgray;">Name</th>
            <th style="background-color: lightgray;">Surname</th>
            <th style="background-color: lightgray;">Age</th>
            <th style="background-color: lightgray;">Citizenship</th>
            <th style="background-color: lightgray;">Password</th>
            <th style="background-color: lightgray;">Role(s)</th>
            <th style="background-color: lightgray;">Operations</th>
        </tr>
        <tr th:each="user : ${allUsers}">
            <td th:text="${user.username}"></td>
            <td th:text="${user.surname}"></td>
            <td th:text="${user.age}"></td>
            <td th:text="${user.citizenship}"></td>
            <td th:text="${user.password}"></td>
            <td th:text="${user.roles}"></td>
            <td>
                <form th:action="@{/admin/users/{id}/edit(id=${user.id})}" method="get" style="display:inline;">
                    <input type="submit" value="Update" style="background-color: lightblue; color: black;"/>
                </form>
                <form th:action="@{/admin/users/{id}(id=${user.id})}" method="post" style="display:inline;" onsubmit="return confirm('Вы уверены, что хотите удалить пользователя?');">
                    <input type="hidden" name="_method" value="DELETE"/>
                    <input type="submit" value="Delete" style="background-color: lightpink; color: black;"/>
                </form>
            </td>
        </tr>
    </table>
    <br>
    <input type="button" value="Add" onclick="window.location.href='/admin/users/new'"/>
    <br><br>
    <form action="/logout" method="post" style="display:inline;">
        <input type="submit" value="Logout"/>
    </form>
</div>
</body>
</html>

